body {
    background: #006666;
}

h1 {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h2 {
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    margin bottom: 0px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    font-style: italic;

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

p.blocktext {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 5px;
    width: 80%%;
    text-align: left;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#funStuff div {
}

/*#breakPoint {
    clear: float;
}*/

/*NO TOUCHY*/
#contact div {
    float: left;
    display: block;
    background: gold;
    font-size: 30px;
    text-align: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    width: 33.333333%;
    border-radius: 7px;
  }

#colorTest {
    color: gold;
}

a {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

a:visited {
    color: ivory;
}

a:active {
    color:ivory;
}

.button {
    background: gold;
    font-size: 25px;
}

#bulkText {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#rainbowConnection {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

/* .class is class selector, no punctiation is element selevtor, #id is id selector